@model MusicShop.Models.Artikl

@{
    ViewData["Title"] = "Detalji";
}



<div>
    <h4>Detalji o artiklu @Html.DisplayName(Model.Ime) </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Godina)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Godina)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cijena)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cijena)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayName("Vrsta artikla")
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SifVrsteNavigation.ImeVrste)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SifArtikla">Uredi</a> |
    <a asp-action="Index">Vrati se na popis svih artikala</a>
</div>
