@model IEnumerable<MusicShopData.Artikl>

@{ ViewData["Title"] = "Index"; }

<h1>Popis artikala</h1>

<p>
    <a asp-action="Create">Dodaj novi artikl</a>

</p>


    @using (Html.BeginForm())
    {
    <p>
    Ime artikla: @Html.TextBox("searchStr") <br /><br />
    <input type="submit" value="Traži" />
    </p>
    }
    

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Ime)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.Cijena)
                </th>

                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Ime)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Cijena)
    </td>

    <td style="text-align:right">
        <a asp-action="AddToCart" asp-route-id="@item.SifArtikla">Dodaj u košaricu</a> |
        <a asp-action="Edit" asp-route-id="@item.SifArtikla">Uredi</a> |
        <a asp-action="Details" asp-route-id="@item.SifArtikla">Detalji</a> |
        <a asp-action="Delete" asp-route-id="@item.SifArtikla">Obriši</a>
    </td>
</tr>
}
        </tbody>
    </table>
